spring:
  application:
    name: application-service
  liquibase:
    change-log: classpath:db.changelog/db.changelog-master.yaml
  datasource:
    url: jdbc:h2:file:./data/application-service;DB_CLOSE_ON_EXIT=false
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8087
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: health,info
logging:
  level:
    com.demoproject.applicationservice.config.feign: DEBUG
    org.springframework.web.client.RestTemplate: DEBUG
    feign: DEBUG
    root: INFO