spring:
  application:
    name: file-service
  liquibase:
    change-log: classpath:db.changelog/db.changelog-master.yaml
  datasource:
    url: jdbc:h2:file:./data/expense-service;DB_CLOSE_ON_EXIT=false
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC
  h2:
    console:
      enabled: false
      path: /h2-console
server:
  port: 8085
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: health,info
aws:
  region: ap-south-1                # Change this to your AWS region (e.g., us-east-1, eu-west-1, ap-south-1)
  s3:
    bucket-name: your-bucket-name   # Replace with your actual bucket name
  credentials:
    access-key: YOUR_ACCESS_KEY     # Store in environment variable or secrets file
    secret-key: YOUR_SECRET_KEY     # Never commit these to GitHub